USE [reservm]
GO
/****** Object:  Table [dbo].[curso_coordenador]    Script Date: 11/08/2025 14:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curso_coordenador](
	[cco_id] [int] IDENTITY(1,1) NOT NULL,
	[curs_id] [int] NOT NULL,
	[coordenador_matricula] [varchar](50) NOT NULL,
	[cco_data_associacao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cco_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[curso_coordenador] ON 

INSERT [dbo].[curso_coordenador] ([cco_id], [curs_id], [coordenador_matricula], [cco_data_associacao]) VALUES (11, 2, N'07797', CAST(N'2025-08-08T10:01:28.090' AS DateTime))
INSERT [dbo].[curso_coordenador] ([cco_id], [curs_id], [coordenador_matricula], [cco_data_associacao]) VALUES (12, 2, N'7815', CAST(N'2025-08-08T10:01:28.090' AS DateTime))
SET IDENTITY_INSERT [dbo].[curso_coordenador] OFF
GO
ALTER TABLE [dbo].[curso_coordenador] ADD  DEFAULT (getdate()) FOR [cco_data_associacao]
GO
ALTER TABLE [dbo].[curso_coordenador]  WITH CHECK ADD FOREIGN KEY([curs_id])
REFERENCES [dbo].[cursos] ([curs_id])
ON DELETE CASCADE
GO
